---
layout: page
title: Bonjour
subtitle: A record of how I become a ML Engineer
use-site-title: true
---

{% assign all_posts = paginator.posts %}

{% if paginator.page == 1 %}
  {% assign featured = all_posts[0] %}
  {% assign grid_posts = all_posts | slice: 1, all_posts.size %}
{% else %}
  {% assign featured = nil %}
  {% assign grid_posts = all_posts %}
{% endif %}

{% if featured %}
<a href="{{ featured.url | prepend: site.baseurl }}" class="featured-post">
  <div class="featured-post-meta">
    {% if featured.tags.size > 0 %}
      <span class="post-tag-pill">{{ featured.tags[0] }}</span>
    {% endif %}
    <span class="featured-label">Latest post</span>
  </div>
  <h2 class="featured-title">{{ featured.title }}</h2>
  <p class="featured-excerpt">
    {{ featured.excerpt | strip_html | xml_escape | truncatewords: 45 }}
  </p>
  <div class="post-meta-line">
    {% assign words = featured.content | number_of_words %}
    {% assign read_time = words | divided_by: 200 | plus: 1 %}
    {{ featured.date | date: "%B %-d, %Y" }} &nbsp;&middot;&nbsp; {{ read_time }} min read
  </div>
</a>
{% endif %}

{% if grid_posts.size > 0 %}
<div class="post-grid">
  {% for post in grid_posts %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-card">
    {% if post.tags.size > 0 %}
      <span class="post-tag-pill">{{ post.tags[0] }}</span>
    {% endif %}
    <h3 class="card-title">{{ post.title }}</h3>
    <div class="post-meta-line">
      {% assign words = post.content | number_of_words %}
      {% assign read_time = words | divided_by: 200 | plus: 1 %}
      {{ post.date | date: "%b %-d, %Y" }} &nbsp;&middot;&nbsp; {{ read_time }} min read
    </div>
  </a>
  {% endfor %}
</div>
{% endif %}

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
